.module-item {
  border: 1px solid #e0e0e0; /* subtle border */
  margin-bottom: 50px;
  background-color: #f0f0f0; /* white background */
  border-radius: 0px; /* rounded corners */
  border-color: #b9b5b5;
  height: 90px;
}

.module-item .ellipsis-icon {
  margin-right: 2px;
  font-size: 20px;
  color: #949191; /* Adjust color as needed */
}
.module-item .AiFillCheckCircle {
  color: green;
  font-size: 28px;
}
.module-item .fa-plus {
  color: rgb(181, 178, 178);
}
.module-item .module-title {
  font-size: 18px; /* Adjust as needed */
  color: #333; /* Adjust color as needed */
}




.module-item .module-actions .btn-light {
  border-radius: 50%; /* Makes the buttons rounded */
  width: 45px; /* Adjust width as needed */
  height: 45px; /* Adjust height as needed */
  background-color: #f0f0f0; /* Adjust as needed */
  border: none;
}

.module-item .custom-dropdown-toggle::before {
  content: "\25B6"; /* Right-pointing triangle (▶) */
  display: inline-block;
  margin-right: 10px; /* Spacing between the arrow and the text */
  vertical-align: middle;
  font-size: 20px;
}

.module-item .show .custom-dropdown-toggle::before {
  content: "\25BC"; /* Down-pointing triangle (▼) */
  font-size: 20px;
}

.module-item .left.dropdown-toggle::after {
  display: none;
}

.module-item .description-container {
  margin-left: 20px;
  max-width: 150px; /* you can adjust this value */
  white-space: normal; /* this ensures the text wraps */
  overflow-wrap: break-word; /* this breaks the word to the next line if it's too long */
  color: #767373;
  /* Additional Styling for Description */
  font-size: 11px; /* Slightly smaller font size */
  font-style: italic; /* Make the text italicized */
  padding: 8px; /* Add some padding around the text */
  background-color: #f9f9f9; /* A very light grey background */
  border: 1px solid #e1e1e1; /* A soft border */
  border-radius: 4px; /* Rounded corners for the border */
}

.add-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e1e1e1; /* Border around the entire container */
  padding: 10px; /* Some padding for spacing */
  border-radius: 4px; /* Rounded corners */
  margin-bottom: 12px;
}
