.wd-course-navigation {
  background-color: white;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  border-radius: 0px;
  border: none;
  
}
.wd-course-navigation .list-group-item:first-child,
.wd-course-navigation .list-group-item:last-child,
.wd-course-navigation .list-group-item.active:last-child,
.wd-course-navigation.list-group {
  border-radius: 0px;
}


.wd-course-navigation a {
  padding-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-size: 1.1em; /* Larger font size */
}
.wd-course-navigation a.active {
  border-left: 3px solid black;
  background-color: white;
}
.wd-course-navigation a.active {
  color: black;
}

.wd-course-navigation a {
  color: red;
  text-decoration: none;
}


.wd-course-navigation .link-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wd-course-navigation .hide-icon {
    margin-left: 10px;  /* Add some spacing between text and icon */
    cursor: pointer;    /* Make it look clickable */
    color: rgb(170, 172, 173);
}
