.assignment-top-bar .btn-toolbar {
  display: flex;
  align-items: center;
}

.assignment-top-bar .form-flex-grow {
  flex: 1;
  margin-right: 120px;
}

.assignment-top-bar .groupbutton {
  color: black;
  background-color: #e0dfdf;
  margin-right: 5px;
  border-color: #afadad;
}

.assignment-top-bar .plusassignment {
  margin-right: 5px;
}

.assignment-top-bar .ellipsis-icon {
  color: black;
  background-color: #e0dfdf;
  border-color: #afadad;
}

.assignment-bot-list .assignment-header {
  background-color: #e7e5e5;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  border-color: #cbc9c9;
}

.assignment-bot-list .ASStag {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.7em; /* Adjust this value as needed */
  color: #434242;
  font-weight: normal;
}

.assignment-bot-list .ellipsis-icon {
  margin-right: 3px;
  font-size: 30px;
  color: #949191; /* Adjust color as needed */
}

.assignment-bot-list .ellipsis-icon.right-one {
  float: right;
  margin-right: 18px;
  margin-left: 10px;
  font-size: 30px;
  color: #7b7e81; /* Adjust color as needed */
}


.assignment-bot-list .arrow-icon {
  color: rgb(60, 59, 59);
  margin-bottom: 12px;
  margin-left: 20px;
  size: 5px;
}

.assignment-bot-list .pill {
  display: inline-block;
  padding: 8px; /* Adjust the padding as needed */
  background-color: #e7e5e5;
  border: 2px solid #aaa7a7; /* Adjust the border color as needed */
  border-radius: 30px; /* This makes it rounded */
  font-size: 16px; /* Adjust font size as needed */
  font-weight: normal;
  color: #4d4b4b; /* Font color */
  margin-right: 5px;

}

.assignment-bot-list .plus-icon {
    color: #949191; /* Adjust color as needed */
    font-size: 30px;
}

.assignment-bot-list .assignment-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.assignment-bot-list .assignment-title {
  font-weight: bold;
}

.assignment-bot-list .assignment-item .assignment-details {
    height: 85px;
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements inside assignment-details */
}
.assignment-bot-list .assignment-icon {
  color: #2a8531; /* Adjust color as needed */
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.assignment-bot-list .assignment-points {
  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 35px   ;
  margin-right: 12px;
}

.assignment-bot-list .AiFillCheckCircle {
  margin-right: 35px;
}
